application_prefix = "my-jarvis"

bedrock_chat_model_id        = "global.anthropic.claude-sonnet-5"
bedrock_compression_model_id = "global.anthropic.claude-haiku-4-5-20251001-v1:0"

bedrock_rerank_model_id = "cohere.rerank-v3-5:0"
bedrock_rerank_region   = ""

knowledge_base_bucket_name = "my-jarvis-knowledge-base"

s3_vectors_bucket_name = "my-jarvis-knowledge-base-vectors"
s3_vectors_index_name  = "knowledge-base"
embedding_model_name   = "amazon.titan-embed-text-v2:0"
embedding_dimensions   = 1024

dynamodb_user_memory_table_name = "my-jarvis-user-memories"
dynamodb_user_memory_index_name = "user-memories"

dynamodb_users_table_name          = "my-jarvis-users"
dynamodb_session_memory_table_name = "my-jarvis-session-memory"
session_memory_ttl_minutes         = 5
session_memory_max_messages        = 20

alexa_skill_id = "your-alexa-skill-id"
