application_prefix = "ams-with-alexa-demo"

openai_api_key    = "your-openai-api-key"
openai_model_name = "gpt-4o"
cohere_api_key = "your-cohere-api-key"

langcache_api_base_url = "langcache-api-base-url"
langcache_api_key = "your-langcache-api-key"
langcache_cache_id = "langcache-cache-id"

redis_agent_memory_api_url  = "https://<region>.agent-memory.redis.io"
redis_agent_memory_api_key  = "your-agent-memory-api-key"
redis_agent_memory_store_id = "your-agent-memory-store-id"

knowledge_base_bucket_name = "ams-with-alexa-demo-knowledge-base"
alexa_skill_id = "your-alexa-skill-id"
